{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"api/handlers"

	"github.com/gin-gonic/gin"
)

type {{classname}} struct {
	handlers handlers.{{vendorExtensions.x-go-custom-tag}}Handlers
}

func New{{classname}}(handlers handlers.{{vendorExtensions.x-go-custom-tag}}Handlers) {{classname}} {
	return {{classname}}{handlers: handlers}
}

{{#operation}}
// {{httpMethod}} {{{basePathWithoutHost}}}{{{path}}}{{#summary}}
// {{{.}}} {{/summary}}
{{#isDeprecated}}
// Deprecated
{{/isDeprecated}}
func (api *{{classname}}) {{nickname}}(c *gin.Context) {
	api.handlers.{{operationId}}(c)
}

{{/operation}}
{{/operations}}