{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"api/handlers"

	"github.com/gin-gonic/gin"
)

type {{classname}} struct {
}

{{#operation}}
// {{httpMethod}} {{{basePathWithoutHost}}}{{{path}}}{{#summary}}
// {{{.}}} {{/summary}}
{{#isDeprecated}}
// Deprecated
{{/isDeprecated}}
func (api *{{classname}}) {{nickname}}(c *gin.Context) {
	factory := func() interface{} {
		return &{{operationId}}Request{}
	}
	handlers.{{operationId}}(c, factory)
}

{{/operation}}
{{/operations}}